{% extends "base.html" %}
{% block meta %}
    <title>Skills - {{ name }}</title>
{% endblock meta %}
{% block content %}
<main class="page-container">
        <section class="experience-section" id="experience">
        <div class="container">
            <p class="section-kicker">What I bring to the table</p>
            <h1>Skills</h1>

            <div class="experience-grid">
                {% for skill in skill_list %}
                    <article class="experience-card">
                        <span class="experience-category">
                            {{ skill.get_category_display }}
                        </span>
                        <h2>{{ skill.title }}</h2>
                        <p class="experience-description">{{ skill.gained_from }}</p>
                        <p class="experience-description">
                            {{ skill.description }}
                        </p>
                    </article>
                {% empty %}
                    <p class="empty-state">
                        Belum ada skill yang ditambahkan.
                    </p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}